.wrapper {
  // background-color: red;
  margin-top: 12px;
  padding-block: 16px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid
}

.defaultInfo {
  margin-block: 20px;
}

.ul {
  font-size: 16px;
  font-weight: 700;

}