.btn {
  width: 100px;
  height: 35px;
  gap: 5px;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  z-index: 10000;

  &:hover {
    filter: brightness("1.13");
  }

  & > figure {
    margin: 0px;
  }

  & > p {
    margin: 0px;
  }
}

.light {
  background-color: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
}

.dark {
  background-color: #434343;
  box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.561);
  font-size: 1.2rem;

}