
.main {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  
  
  
  
  min-height: 100vh;
  transition: all 200ms ease
}

.light {
background-color: white;
}

.dark {
  background-color: black;
}

.wrapper {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  padding-inline: 1rem;
  padding-block: 6rem;
}

.texts {
  padding: 8px;
}